#result {
    display: none;
}
#planetAge, #planetTimeLeft {
    background-color: rgba(100, 100, 100, 0.7);
    padding: 10px;
    border-radius: 5px;
}
body {
    background-color: black;
    font-family: 'Monda', sans-serif;
}
